{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="container">
        <div class="user-area">
            <nav class="user-menu">
                <div>
                    <span class="head-title">
                        Mano profilis
                    </span>
                    <ul>
                        <li>
                            <a href="{{ path('fos_user_profile_edit') }}" class="active">Redaguoti profilį </a>

                        </li>
                        {% if is_granted("ROLE_TRAINER") %}
                        <li>
                            <a href="{{ path('my_trainings') }}">Mano treniruotės</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('my_feedbacks') }}">Mano įvertinimai</a>
                        </li>
                    </ul>

                </div>
            </nav>

        </div>
        <div class="user-block">
            <div class="page-header no-margin padding">Profilio redagavimas</div>
            <div class="page-block">
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit', 'novalidate' : 'novalidate' } }) }}
                    <div class="form-group" id="fos_user_registration_form">
                        {{ form_rest(form) }}
                    </div>

                    <div class="form-group">

                        <input type="submit" value="{{ 'profile.edit.submit'|trans }}"
                               class="form-control btn btn-login"/>

                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2"></div>

            </div>
        </div>
    </div>

{% endblock %}
