{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="user-area">
            <nav class="user-menu">
                <div>
                    {{ include('@App/myProfileTabs.html.twig', {'active': 'reservations'}) }}
                </div>
            </nav>

        </div>
        <div class="user-block">
            <div class="page-header no-margin padding">Mano rezervacijos</div>
            <div class="page-block">
                 <table class="table">
                        <thead style="color: #868686; background-color: #f0f0f0; text-transform: uppercase;">
                            <th>Treniruotė</th>
                            <th>Data</th>
                            <th>Būsena</th>
                            <th>Veiksmas</th>
                        </thead>
                        <tbody>
                            {% if reservations is defined and reservations is not empty%}
                                {% for reservation in reservations %}
                                    {% if reservation.trainingTime.date|date('Y-m-d H:i:s') > "now"|date("Y-m-d H:i:s")%}
                                        <tr>
                                            <td>
                                                <a href="{{ path('training_page', { id : reservation.trainingTime.training.id }) }}">
                                                    {{ reservation.trainingTime.training.title }}</a>
                                                </td>
                                                <td>{{ reservation.trainingTime.date|date('Y-m-d H:i:s') }}</td>
                                                <td>
                                                    {% if reservation.status == 0 %}
                                                        Nepatvirtinta
                                                    {% elseif reservation.status == 1 %}
                                                        <span style="color: green;">Patvirtinta</span>
                                                    {% elseif reservation.status == 2 %}
                                                        <span style="color: red;">Atšaukta</span>
                                                    {% endif %}
                                                </td>
                                                <td >
                                                
                                              <div class="modal fade" id="myModal-cancel-{{ reservation.id }}" role="dialog">
                                                <div class="modal-dialog">
                                                
                                                  <!-- Modal content-->
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                      <h4 class="modal-title">Dėmesio!</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <p>Ar tikrai norite atšaukti rezervaciją?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                            <a href="{{ path('remove_reservation', {id: reservation.id}) }}"><button class="form-control btn btn-login btn-reservate" >Atšaukti</button></a>
                                                      <button type="button" class="btn btn-default" data-dismiss="modal">Uždaryti</button>
                                                    </div>
                                                  </div>
                                                  
                                                </div>
                                              </div>
                                                    <button class="form-control btn btn-login" data-toggle="modal" data-target="#myModal-cancel-{{ reservation.id }}">Atšaukti</button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr><td>Rezervacijų nėra</td></tr>
                            {% endif %}    
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
{% endblock %}
