<nav class="navbar navbar-default navigation-clean-button">
    <div class="container">
        <div class="navbar-header"><a class="navbar-brand" href="{{ path('homepage') }}"><span
                        style="color: #7f7f7f; font-size: 30px;">Trainer</span><span
                        style="color: #56c6c6; font-size: 30px;">Hub</span></a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav" style="float:left;">
                <li role="presentation"><a href="{{ path('homepage') }}"><strong>TRENERIAI</strong></a></li>
                <li role="presentation"><a href="{{ path('homepage') }}"><strong>APIE MUS</strong></a></li>
            </ul>
            <ul class="nav navbar-nav" style="float:right;">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li role="presentation"><a href="{{ path('fos_user_profile_edit') }}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Mano profilis</a></li>
                    {% if is_granted('ROLE_TRAINER') %}
                        <li role="presentation"><a href="{{ path('new_training') }}">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Nauja Treniruotė</a></li>
                    {% endif %}
                    <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Atsijungti</a></li>
                {% endif %}
            </ul>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <p class="navbar-text navbar-right actions"><a class="navbar-link login"
                                                               href="{{ path('fos_user_security_login') }}">Prisijungti</a>
                    <a class="btn btn-default action-button" role="button"
                       href="{{ path('fos_user_registration_register') }}">Regisruotis</a></p>
            {% endif %}
        </div>
    </div>
</nav>
