{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="container">
        <div class="user-area">
            <nav class="user-menu">
                <div>
                    {{ include('@App/myProfileTabs.html.twig', {'active': 'password'}) }}
                </div>
            </nav>

        </div>
        <div class="user-block">
            <div class="page-header no-margin padding">Slaptažodžio keitimas</div>
            <div class="page-block">
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password', 'novalidate' : 'novalidate' } }) }}
                    <div class="form-group" id="fos_user_registration_form">
                        {{ form_rest(form) }}
                    </div>
                    <div class="form-group">
                        <input type="submit" value="{{ 'change_password.submit'|trans }}"
                               class="form-control btn btn-login"/>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2"></div>

            </div>
        </div>
    </div>

{% endblock %}