{% form_theme trainingForm 'bootstrap_3_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block body %}

    {#{{ form_start(trainingForm, {'attr' : {'novalidate' : 'novalidate'}}) }}#}
    {{ form_start(trainingForm, {'attr' : {'novalidate' : 'novalidate'}}) }}

    <div class="container">

        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        Nauja treniruotė
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    {{ form_row(trainingForm.title) }}
                    {{ form_row(trainingForm.price) }}
                    {{ form_row(trainingForm.category) }}
                    {{ form_row(trainingForm.city) }}
                    {{ form_row(trainingForm.description) }}
                    <ul id="email-fields-list"
                        data-prototype="{{ form_widget(trainingForm.date.vars.prototype)|e }}">
                        {% for dateField in trainingForm.date %}
                            <li>
                                {{ form_errors(dateField) }}
                                {{ form_widget(dateField) }}
                            </li>
                        {% endfor %}
                    </ul>

                    <a href="#" id="add-another-email">+ Pridėti treniruotės laiką</a>

                    {{ form_end(trainingForm) }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
            </div>
        </div>
    </div>


{% endblock %}

