{% form_theme trainingForm 'bootstrap_3_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block body %}

    {#{{ form_start(trainingForm, {'attr' : {'novalidate' : 'novalidate'}}) }}#}
    {{ form_start(trainingForm, {'attr' : {'novalidate' : 'novalidate'}}) }}

    <div class="container">

        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        Nauja treniruotė
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    {{ form_row(trainingForm.title) }}
                    {{ form_row(trainingForm.price) }}
                    {{ form_row(trainingForm.category) }}
                    {{ form_row(trainingForm.city) }}
                    {{ form_row(trainingForm.description) }}
                        {# iterate over each existing tag and render its only field: name #}
                        {% for tag in trainingForm.trainingTime %}
                            {{ form_widget(tag) }}
                        {% endfor %}

                    <div class="form-group">
                        <input type="submit" value="Sukurti" class="form-control btn btn-login"/>
                    </div>
                    {{ form_end(trainingForm) }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
            </div>
        </div>
    </div>

    {#<script type="text/javascript">#}
        {#// keep track of how many email fields have been rendered#}
        {#var emailCount = '{{ trainingForm.date|length }}';#}

        {#jQuery(document).ready(function() {#}
            {#jQuery('#add-another-email').click(function(e) {#}
                {#e.preventDefault();#}

                {#var emailList = jQuery('#email-fields-list');#}

                {#// grab the prototype template#}
                {#var newWidget = emailList.attr('data-prototype');#}
                {#// replace the "__name__" used in the id and name of the prototype#}
                {#// with a number that's unique to your emails#}
                {#// end name attribute looks like name="contact[emails][2]"#}
                {#newWidget = newWidget.replace(/__name__/g, emailCount);#}
                {#emailCount++;#}

                {#// create a new list element and add it to the list#}
                {#var newLi = jQuery('<li></li>').html(newWidget);#}
                {#newLi.appendTo(emailList);#}
            {#});#}
        {#})#}
    {#</script>#}

{% endblock %}
