{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="user-area">
            <nav class="user-menu">
                <div>
                    <span class="head-title">
                        Mano profilis
                    </span>
                    <ul>
                        <li>
                            <a href="{{ path('fos_user_profile_edit') }}">Redaguoti profilį </a>

                        </li>
                        <li>
                            <a href="{{ path('my_trainings') }}">Mano treniruotės</a>
                        </li>
                        <li >
                            <a href="{{ path('my_feedbacks') }}" class="active" >Mano įvertinimai</a>
                        </li>
                    </ul>

                </div>
            </nav>

        </div>
        <div class="user-block">
            <div class="page-header no-margin padding">Mano Įvertinimai</div>
            <div class="page-block">
                {% if feedbacks is defined and feedbacks is not empty %}
                    {% for feedback in feedbacks %}
                        <div class="testimonials">
                            <div class="active item">
                                <blockquote><p>{{ feedback.feedback }}</p></blockquote>
                                <div class="carousel-info">

                                    <div class="pull-right">
                                        <span class="testimonials-name">{{ feedback.fos_user_author.username }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Atsiliepimų nėra. </p>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
