{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="user-area">
            <nav class="user-menu">
                <div>
                    {{ include('@App/myProfileTabs.html.twig', {'active': 'feedbacks'}) }}
                </div>
            </nav>

        </div>
        <div class="user-block">
            <div class="page-header no-margin padding">Mano Įvertinimai</div>
            <div class="page-block">
                {% if feedbacks is defined and feedbacks is not empty %}
                    {% for feedback in feedbacks %}
                        <div class="testimonials">
                            <div class="active item">
                                 Įvertinimas: 
                                    <div class="acidjs-rating-stars">
                                        {% set counter = 0 %}
                                        {% for i in 0..feedback.rating-1 %}
                                            <span class="checked"></span>
                                            {% set counter = counter + 1 %}
                                        {% endfor %}
                                        {% if feedback.rating < 5 %}
                                            {% for j in 0..5-feedback.rating-1 %}
                                                <span class="no-checked"></span>
                                            {% endfor %}    
                                        {% endif %}
                                    </div>
                                <blockquote><p>{{ feedback.feedback }}</p></blockquote>
                                <div class="carousel-info">

                                    {% if is_granted('ROLE_TRAINER') %}
                                        <div class="pull-right">
                                            <span class="testimonials-name">{{ feedback.fosUserAuthor.username }}</span>
                                        </div>
                                    {% endif %}
                                    {% if is_granted('ROLE_CLIENT') %}
                                        <div class="pull-left">
                                            <span class="testimonials-name">Įvertinimas skirtas: <a href="{{ path('trainer_page', {'username': feedback.fosUserObject.username}) }}">
                                                <i>{{ feedback.fosUserObject.username }}</i></a></span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Atsiliepimų nėra. </p>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
