
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container spacer">
        <div class="row" style="background-color: #FFFFFF; border-radius: 4px; padding-top: 10px; padding-bottom: 10px;">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-8 col-lg-8">
                <h2 style="text-align: center;">{{ training.title }}</h2> <br>
                <h4><strong>Kaina:</strong> {{ training.price }} €</h4>
                <h4><strong>Aprašymas:</strong> </h4>
                <span style="margin-bottom: 10px;">{{ training.description }}</span> <hr>

                {% if training.trainingTime is defined and training.trainingTime is not empty %}
                    <table class="table table-bordered table-striped" style="padding-top: 10px;">
                        <thead>
                            <th>Data</th>
                            <th>Likusių vietų skaičius</th>
                            <th></th>
                        </thead>
                        <tbody>
                        
                            {% for training in training.trainingTime %}

                                {% if training.date.date|date('Y-m-d H:i:s') > "now"|date("Y-m-d H:i:s")%}
                                    <tr>
                                        <td>{{ training.date.date|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ training.number }}</td>
                                        <td>
                                                                                    <!-- Modal -->
                                          <div class="modal fade" id="myModal-approve-{{ training.id }}" role="dialog">
                                            <div class="modal-dialog">
                                            
                                              <!-- Modal content-->
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Patvirtinimas</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <p>Ar tikrai norite atlikti rezervaciją?</p>
                                                </div>
                                                <div class="modal-footer">
                                                     <a href="{{ path('reservation_training', {id: training.id}) }}"><button class="form-control btn btn-login btn-reservate" data-toggle="modal" data-target="#myModal">Rezervuoti</button></a>
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Uždaryti</button>
                                                </div>
                                              </div>
                                              
                                            </div>
                                          </div>
                                          <div class="modal fade" id="myModal-cancel-{{ training.id }}" role="dialog">
                                            <div class="modal-dialog">
                                            
                                              <!-- Modal content-->
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Dėmesio!</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <p>Ar tikrai norite atšaukti rezervaciją?</p>
                                                </div>
                                                <div class="modal-footer">
                                                     {% if training.reservation is defined %}
                                                        <a href="{{ path('remove_reservation', {id: training.reservation}) }}"><button class="form-control btn btn-login btn-reservate" >Atšaukti</button></a>
                                                     {% endif %}
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Uždaryti</button>
                                                </div>
                                              </div>
                                              
                                            </div>
                                          </div>
                                            {% if training.is_registered is not defined %}
                                               <button class="form-control btn btn-login" data-toggle="modal" data-target="#myModal-approve-{{ training.id }}">Rezervuoti</button></a>
                                            {% elseif training.number == 0 %}
                                                <p>Laisvų vietų nėra</p>
                                            {% else %}
                                                <button class="form-control btn btn-login"  data-toggle="modal" data-target="#myModal-cancel-{{ training.id }}" >Atšaukti</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                {% else %}
                    <p class="no-trainings">Treniruočių laikų nėra</p>
                {% endif %}
                        </tbody>
                    </table>
                <div class="col-md-2 col-lg-2"></div>
            </div>
        </div>
    </div>

{% endblock %}
