{% extends 'base.html.twig' %}

{% block body %}
    <div class="container spacer">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('media/cache/my_heighten_filter/uploads/avatars/' ~ trainers.avatarName ) }}" class="img-responsive"/>
            </div>
            <div class="col-md-8">
                <strong>Vardas: </strong>{{ trainers.name }} <br>
                <strong>Pavardė: </strong>{{ trainers.surname }} <br>
                <strong>Miestas: </strong>{{ trainers.city }} <br>
                <strong>Telefonas: </strong>{{ trainers.phone }} <br>
                <strong>Aprašymas: </strong><br>{{ trainers.description }} <br>
                <h3>Mano treniruotės</h3>
                <table class="table table-bordered table-striped">
                    <thead>
                        <th>Pavadinimas</th>
                        <th>Kaina (€)</th>
                        <th>Kategorija</th>
                        <th>Miestas</th>
                        <th>Veiksmas</th>
                    </thead>
                    <tbody>
                        {% for training in trainers.training %}
                            <tr>
                                <td>{{ training.title }}</td>
                                <td>{{ training.price }}</td>
                                <td>{{ training.category.title }}</td>
                                <td>{{ training.city.title }}</td>
                                <td>
                                    <a href="reservate/{{ training.id }}">
                                        <button class="btn btn-primary">Rezervuoti</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
