{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="user-area">
            <nav class="user-menu">
                <div>
                    {{ include('@App/myProfileTabs.html.twig', {'active': 'trainer_reservations'}) }}
                </div>
            </nav>

        </div>
        <div class="user-block">
            <div class="page-header no-margin padding">Rezervacijos</div>
            <div class="page-block">
                <table class="table">
                    <thead style="color: #868686; background-color: #f0f0f0; text-transform: uppercase;">
                    <th>Treniruotė</th>
                    <th>Data</th>
                    <th>Klientas</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% if reservations is defined and reservations is not empty%}
                        {% for reservation in reservations %}
                            {% if reservation.trainingTime.date|date('Y-m-d H:i:s') > "now"|date("Y-m-d H:i:s")%}
                                <tr>
                                    <td>
                                        <a href="{{ path('training_page', { id : reservation.trainingTime.training.id }) }}">
                                            {{ reservation.trainingTime.training.title }}</a>
                                    </td>
                                    <td>{{ reservation.trainingTime.date|date('Y-m-d H:i:s') }}</td>
                                    <td>
                                        {{ reservation.fosUser.username }}
                                    </td>
                                    {% if reservation.status == 0 %}
                                        <td>
                                            <div class="col-md-6">
                                                <a href="{{ path('confirm_reservation', {id: reservation.id}) }}">
                                                    <button class="form-control btn btn-success" >Patvirtinti</button>
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="{{ path('cancel_reservation', {id: reservation.id}) }}">
                                                    <button class="form-control btn btn-danger" >Atšaukti</button>
                                                </a>
                                            </div>
                                        </td>
                                    {% endif %}
                                    {% if reservation.status == 1 or reservation.status == 2 %}
                                        <td>
                                            <div class="col-md-6">
                                                {% if reservation.status == 0 %}
                                                    Nepatvirtinta
                                                {% elseif reservation.status == 1 %}
                                                    Patvirtinta
                                                {% elseif reservation.status == 2 %}
                                                    Atšaukta
                                                {% endif %}
                                            </div>
                                            <div class="col-md-6">
                                                <a href="{{ path('restore_reservation', {id: reservation.id}) }}">
                                                    <button class="form-control btn btn-primary" >Anuliuoti</button>
                                                </a>
                                            </div>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <tr><td>Rezervacijų nėra</td></tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
