{% form_theme feedback 'bootstrap_3_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container spacer">
        <div class="row" style="background-color: #FFFFFF; border-radius: 4px;">
            <div class="col-md-4">
                <img src="{{ asset('media/cache/my_heighten_filter/uploads/avatars/' ~ trainers.avatarName ) }}" class="img-responsive"/>
                <h3>Treneris {{ trainers.name }}</h3><hr>
                <h3 style="font-weight: bold; font-size: 20px;">Kontaktai</h3>
                <p>Miestas: {{ trainers.city }}</p>
                <p>Telefonas: {{ trainers.phone }}</p><br><hr>
            </div>
            <div class="col-md-8">
                <h3 style="font-weight: bold; font-size: 20px;">Trenerio aprašymas: </h3>{{ trainers.description }} <br><hr>
                <h3 style="font-weight: bold; font-size: 20px;">Mano treniruotės</h3>
                <table class="table table-bordered table-striped">
                    <thead>
                        <th>Pavadinimas</th>
                        <th>Kaina (€)</th>
                        <th>Kategorija</th>
                        <th>Miestas</th>
                        <th>Veiksmas</th>
                    </thead>
                    <tbody>
                        {% for training in trainers.training %}
                            <tr>
                                <td>{{ training.title }}</td>
                                <td>{{ training.price }}</td>
                                <td>{{ training.category.title }}</td>
                                <td>{{ training.city.title }}</td>
                                <td style="text-align: center;">
                                    <a href="training/{{ training.id }}">
                                        <button class="form-control btn btn-login">Peržiūrėti</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 style="font-weight: bold; font-size: 20px;">Atsiliepimai</h3>
                {% if feedbacks is defined and feedbacks is not empty %}
                    {% for feedback in feedbacks %}
                    <div class="testimonials">
                        <div class="active item">
                            Įvertinimas:
                            <div class="acidjs-rating-stars">
                                {% set counter = 0 %}
                                {% for i in 0..feedback.rating-1 %}
                                    <span class="checked"></span>
                                    {% set counter = counter + 1 %}
                                {% endfor %}
                                {% if feedback.rating < 5 %}
                                    {% for j in 0..5-feedback.rating-1 %}
                                        <span class="no-checked"></span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <blockquote><p>{{ feedback.feedback }}</p></blockquote>
                            <div class="carousel-info">
                                <div class="pull-left">
                                    <span class="testimonials-date"><i>{{ feedback.createdAt|date('Y-m-d H:i:s')  }}</i></span>
                                </div>
                                <div class="pull-right">
                                    <span class="testimonials-name">{{ feedback.fosUserAuthor.username }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Atsiliepimų nėra. </p>
                {% endif %}
                {% if is_granted('ROLE_CLIENT') %}
                    {{ form_start(feedback, {'attr' : {'novalidate' : 'novalidate', 'class' : 'feedback'}}) }}

                    {{ form_rest(feedback) }}

                     <input type="submit" value="Palikti atsiliepimą" class="form-control btn btn-feedback"/>

                    {{ form_end(feedback) }}
                {% elseif is_granted('ROLE_TRAINER') %}

                {% else %}
                    <p>Norėdami parašyti atsiliepimą privalote <a href="{{ path('fos_user_security_login') }}">prisijungti</a></p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
