<div class="headline-wrapper"><span>Treneriai</span></div>
<div class="container">
    <div class="row filter">
        <select class="cities" data-path="{{ path("homepage") }}">
            <option value="all">Visi</option>
            {% for city in cities %}
                {% if currentCity == city %}
                    <option selected="selected" value="{{ city }}">{{ city }}</option>
                {% else %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    {% set counter = 0 %}
    {% for trainer in trainers %}
        {% if counter is divisible by(4) %}
            <div class="row trainers-inner">
        {% endif %}
        {% set counter = counter + 1 %}
        <div class="card col-md-3"><a href="trainer/{{ trainer.usernameCanonical }}">

                <img src="{{ asset('media/cache/my_heighten_filter/uploads/avatars/' ~ trainer.avatarName ) }}"
                     style="width:100%;"/>
                <h4><b>{{ trainer.name }}</b></h4>
                <p>{{ trainer.city }}</p>

            </a></div>
        {% if counter is divisible by(4) %}

            {% set counter = 0 %}
            </div>

        {% endif %}
    {% endfor %}
</div>

<div class="navigation">
    {{ knp_pagination_render(trainers) }}
</div>