{% extends 'base.html.twig' %}

{% block body %}


    {#<div class="container" style="width: 100%">#}
        {#<div class="row presentation">#}
            {#<h1 id="sb-big" style="text-align: center; font-size:115px;line-height:115px;color:#fff; font-weight:600;margin-bottom:50px;">TrainerHUB</h1>#}
            {#<h1 id="sb-small" style="text-align: center; font-size:50px;line-height:54px;color:#fff; font-weight:600;">Trenerių paieškos platforma</h1>#}
            {#<div class="button-wrapper"><a class="presentation-button" role="button" href="{{ path('fos_user_registration_register') }}">Regisruotis</a></div>#}
        {#</div>#}
    {#</div>#}
    <div class="row trainers">
        <div class="headline-wrapper"><span>Treneriai</span></div>
        <div class="container">
            <div class="row filter">
                <select class="cities" data-path="{{ path("homepage") }}">
                    <option value="all">Visi</option>
                    {% for city in cities %}
                        <option value="{{ city }}">{{ city }}</option>
                    {% endfor %}
                </select>
            </div>
            {% set counter = 0 %}
            {% for trainer in trainers %}
                {% if counter is divisible by(4) %}
                    <div class="row trainers-inner">
                {% endif %}
                {% set counter = counter + 1 %}
                <div class="card col-md-3"><a href="trainer/{{ trainer.usernameCanonical }}">

                    <img src="{{ asset('media/cache/my_heighten_filter/uploads/avatars/' ~ trainer.avatarName ) }}" style="width:100%;"/>
                        <h4><b>{{ trainer.name }}</b></h4>
                        <p>{{ trainer.city }}</p>

                </a></div>
                {% if counter is divisible by(4) %}

                   {% set counter = 0 %}
                    </div>
                    
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="navigation">
            {{ knp_pagination_render(trainers) }}
        </div>
    </div>
        {#{% for trainer in trainers %}#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col-md-3"><img src="https://s-media-cache-ak0.pinimg.com/236x/1d/e0/97/1de0970e3cc457fb029e9ecd2b8a1054.jpg" /></div>#}
                    {#<div class="col-md-9">#}
                        {#<h1>{{ trainer.name }} {{ trainer.surname }}</h1>#}
                        {#<strong>Miestas: </strong>{{ trainer.city }}<br>#}
                        {#<strong>Telefonas: </strong>{{ trainer.phone }}#}
                        {#<p>{{ trainer.description }}</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
    {#{% endfor %}#}
{% endblock %}
